/* -------------------------------------------------
--------------------LOGIN---------------------------
---------------------------------------------------*/

section#part-log div {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#part-log form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60vw;
}

section#part-log > div > img {
    width: 20vw;
}