section
{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* -------------------------------------------------
----------------SECTION 1---------------------------
---------------------------------------------------*/

section#part-1 div.intro
{
    align-self: flex-start;
    margin-top: 5vw;
    height: calc(85vh - 100px);
    width: 90vw;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(../img/home/intro.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    padding: 50px 0;
}

section#part-1 div.intro::before
{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background: rgb(71,245,97);
    background: linear-gradient(180deg, rgba(71,245,97,1) 0%, rgba(2,230,250,.5) 100%);
}

section#part-1 div.intro img.logo
{
    height: 100px;
    z-index: 100;
    animation: translate-top 1s ease-out;
}

section#part-1 div.intro div
{
    z-index: 100;
    width: 75%;
    justify-self: flex-start;
    animation: translate-top 1s .5s ease-out, opacity .5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section#part-1 div.intro div p
{
    z-index: 100;
    font-family: 'Bahnschrift';
    font-size: 1.6rem;
    text-align: center;
    color: #fff;
}

section#part-1 div.intro a.btn
{
    border: none;
    background-color: #fff;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    cursor: pointer;
    animation: translate-top 1s 1s ease-out, opacity 1s;
}

section#part-1 div.intro a.txt
{
    border: none;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    background: rgb(71,245,97);
    background: linear-gradient(135deg, rgba(71,245,97,1) 0%, rgba(2,230,250,1) 100%);
}

@media (min-width: 767px) {
    section#part-1 div.intro p
    {
        font-size: 2rem;
        width: 50%;
    }
}


@media (min-width: 991px) {
    section#part-1 div.intro div
    {
        width: 65%;
    }
    section#part-1 div.intro div p
    {
        font-size: 3rem;
        opacity: .9;
    }
    section#part-1 div.intro
    {
        height: calc(100vh - 100px);
        width: 100vw;
        border-radius: 0;
        padding: 50px 0;
        margin-top: 0;
    }
    section#part-1 div.intro::before
    {
        border-radius: 0;
    }
}

/* -------------------------------------------------
----------------SECTION 2---------------------------
---------------------------------------------------*/

section#part-2 div.flex
{
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

section#part-2 div.flex div.box
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 3vw 0 3vw 0;
}

section#part-2 div.flex div.box h2
{
    font-family: 'Bahnschrift';
    font-size: 1.6rem;
    color: #0EE9DF;
    margin: 0;
    text-transform: uppercase;
    margin-bottom:15px;
}
section#part-2 div.flex div.box p
{
    font-family: 'Bahnschrift';
    font-size: 1rem;
    color: #4B4B4B;
    text-align: center;
    margin: 0;
    margin-bottom:25px!important;
}

section#part-2 div.flex div.box img
{
    width: 50vw;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(75, 75, 75, 0.3);
}

@media (min-width: 990px) {
    section#part-2 div.flex {
        flex-direction: row;
        align-items: baseline;
    }
    section#part-2 div.flex div.box img {
        width: 20vw;
    }
    #part-2 > div > div:nth-child(2) > img {
        width: 15vw!important;
    }
    section#part-2 div.flex div.box p {
        font-size: 1.1rem;
        margin: 0 40px;
    }
}

/* -------------------------------------------------
----------------SECTION 3---------------------------
---------------------------------------------------*/

section#part-3 div.flex
{
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

section#part-3 div.flex div.box
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 3vw 0 3vw 0;
}

section#part-3 div.flex div.box h2
{
    font-family: 'Bahnschrift';
    font-size: 1.6rem;
    color: #0EE9DF;
    margin: 0;
    text-transform: uppercase;
    justify-content: center;
    margin-bottom: 15px;
    display: flex;
}
section#part-3 div.flex div.box p
{
    font-family: 'Bahnschrift';
    font-size: 1rem;
    color: #4B4B4B;
    text-align: center;
    margin: 0;
    margin-bottom:25px;
}

section#part-3 div.img
{
    height: calc(50vh - 100px);
    width: 75%;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(../img/home/jouer.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

section#part-3 div.img::before
{
    content: ' ';
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background: linear-gradient(150deg, rgba(71,245,97,1) 10%, rgba(2,230,250,.5) 100%);
    opacity: 60%;
}

@media (max-width: 991px) {
    section#part-3 div.intro {
        display: none;
    }
}

@media (min-width: 990px) {
    section#part-3 div.img {
        display: none;
    }
    #part-3 > div > div > div:nth-child(1) {
        display: none;
    }
    section#part-3 div.intro
    {
        align-self: flex-start;
        height: calc(50vh - 100px);
        flex-direction: column;
        width: 100%;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../img/home/jouer.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        padding: 50px 0;
    }

    section#part-3 div.intro h2{
        z-index: 100;
        font-size: 3.2rem!important;
        color: white!important;
        text-transform: uppercase;
    }
    section#part-3 div.intro p{
        z-index: 100;
        font-size: 1.2rem!important;
        color: white!important;
        margin: 0 28vw!important;
    }

    section#part-3 div.intro::before
    {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 40px;
        background: linear-gradient(90deg, rgba(71,245,97,1) -35%, rgba(2,230,250,.5) 100%);
    }
}

/* -------------------------------------------------
----------------SECTION 4---------------------------
---------------------------------------------------*/

section#part-4 div.flex
{
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

section#part-4 div.intro
{
    align-self: flex-start;
    height: calc(25vh - 100px);
    width: 100%;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../img/home/tournois.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    padding: 50px 0;
}

section#part-4 div.intro::before
{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background: linear-gradient(90deg, rgba(71,245,97,1) -35%, rgba(2,230,250,.5) 100%);
}

section#part-4 h2 {
    font-family: 'Bahnschrift';
    font-size: 1.6rem;
    color: #FFFFFF;
    margin-left: 10%;
    text-transform: uppercase;
    z-index: 100;
}

section#part-4 div.intro a.txt
{
    border: none;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    background: rgb(71,245,97);
    background: linear-gradient(135deg, rgba(71,245,97,1) 0%, rgba(2,230,250,1) 100%);
}

section#part-4 div.intro div.btn {
    z-index: 100;
    margin-right: 10%;
}

@media (max-width: 991px) {
    section#part-4 div.displaytext p {
        display: none;
    }
}

@media (min-width: 990px) {
    section#part-4 h2 {
        text-transform: uppercase;
        font-size: 2.6rem;
    }
    section#part-4 div.intro a.txt {
        color: rgba(2,230,250,1);
        font-weight: 100!important;
        background: white;
    }
    section#part-4 div.displaytext {
        color: white;
        z-index: 100;
        margin: 0 10vw;
    }
    section#part-4 div.displaytext p {
        font-size: 1.1rem;
    }
}
