section
{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section#part-1 div.intro
{
    align-self: flex-start;
    margin-top: 5vw;
    height: calc(90vh - 100px);
    width: 90vw;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(../img/home/intro.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    padding: 50px 0;
}

section#part-1 div.intro::before
{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background: rgb(71,245,97);
    background: linear-gradient(180deg, rgba(71,245,97,1) 0%, rgba(2,230,250,.5) 100%);
}

section#part-1 div.intro img.logo
{
    height: 100px;
    z-index: 100;
    animation: translate-top 1s ease-out;
}

section#part-1 div.intro p
{
    z-index: 100;
    font-family: 'Bahnschrift';
    font-size: 1.6rem;
    text-align: center;
    color: #fff;
    width: 75%;
    justify-self: flex-start;
    animation: translate-top 1s .5s ease-out, opacity .5s;
}

section#part-1 div.intro button
{
    border: none;
    background-color: #fff;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    cursor: pointer;
    animation: translate-top 1s 1s ease-out, opacity 1s;
}

@media (min-width: 767px) {
    section#part-1 div.intro p
    {
        font-size: 2rem;
        width: 50%;
    }
}


@media (min-width: 991px) {
    section#part-1 div.intro p
    {
        font-size: 4rem;
        width: 50%;
        opacity: .9;
    }
    section#part-1 div.intro
    {
        height: calc(100vh - 100px);
        width: 100vw;
        border-radius: 0;
        padding: 50px 0;
    }
    section#part-1 div.intro::before
    {
        border-radius: 0;
    }
}
